<h1>
  A Node View
</h1>
{{message}}

<form action="/node-mongodb-mongoose-user" method="POST">
  <input type="text" name="emailBody" />
  <button type="submit">
    Enviar
  </button>
</form>

<h1>
  Dados do usuario:
</h1>
        firstname:{{firstnamev}}<br>
        lastName:{{lastNamev}}<br>
        password:{{passwordv}}<br>
        email:{{emailv}}<br>
        message:{{messagev}}<br>